body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #ffffff;
  color: #1f2937;
}

.home-container {
  width: 100%;
  margin-top: var(--app-navbar-height, 72px);
}

/* ================= NAVBAR ================= */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 8%;
  background: #0f172a;
  color: white;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
}

.nav-links li {
  cursor: pointer;
}

.login-btn {
  background: #f97316;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

/* ================= HERO ================= */
.hero {
  text-align: center;
  padding: 100px 20px;
  background: #f3f4f6;
  height:100vh;
}

.hero h1 {
  font-size: 42px;
  color: #0f172a;
}

.hero p {
  font-size: 18px;
  margin: 20px 0;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

/* ================= SECTIONS ================= */
.section {
  padding: 70px 8%;
}

.light-bg {
  background: #f9fafb;
}

.section-title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 28px;
  color: #0f172a;
}

/* ================= BUTTONS ================= */
.primary-btn {
  background: #f97316;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.secondary-btn {
  background: white;
  border: 1px solid #0f172a;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.small {
  padding: 8px 14px;
  font-size: 14px;
}

/* ================= COURSES ================= */
.courses-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.course-card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

.price {
  font-weight: bold;
  margin: 10px 0;
}

/* ================= MATERIALS ================= */
.materials-list {
  max-width: 700px;
  margin: auto;
}

.material-item {
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 15px 20px;
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.04);
}

/* ================= WHY SECTION ================= */
.why-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  text-align: center;
}

.why-card {
  padding: 25px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.icon {
  font-size: 40px;
  margin-bottom: 15px;
}

/* ================= FOOTER ================= */
.footer {
  background: #0f172a;
  color: white;
  padding: 50px 8%;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
}

.footer h4 {
  margin-bottom: 10px;
}

.footer p {
  margin: 5px 0;
  font-size: 14px;
}

copyright {
  text-align: center;
  margin-top: 30px;
}